<h3> {{{message}}} </h3>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div align="center"><a href="#" class="export">Export All users data into Excel / csv</a></div>

<div class="container">
   <table class="table table-hover table-hover table-responsive">      
      <tbody>
         {{#each result_customer}}
         <tr>
            <td><a href="http://localhost:3000/wallet_id?id={{wallet_id}}" target="_blank">{{wallet_id}} </a>  </td>
            <td> {{first_name}} {{middle_name}}</td>            
            <td> {{last_name}}</td>            
            <td> {{name}}</td>            
            <td> {{RULES}}</td> 
            {{#equal user_id 15}} 
            <td bgcolor="#008000"></td> 
            {{/equal}}
			{{#notequal user_id 15}} 
            <td bgcolor="#008090"></td> 
            {{/notequal}}
            			
         </tr>
         {{/each}}
      </tbody>
   </table>
</div>

<div class="container">
<div style="display:none" id="dvData">
  <table class="table table-hover table-hover table-responsive">
    <thead>
      <tr>
            <th style='width:20%'>Wallet ID</th>
            <th style='width:10%'>First Name</th>            
            <th style='width:10%'>Last Name</th>            
            <th style='width:10%'>Nationality</th>            
            <th style='width:10%'>Rules Broken</th>                       
         </tr>
    </thead>
    <tbody>
	<tr>
        <td style='widtd:20%'>Wallet ID</td>
            <td style='widtd:10%'>First Name</td>            
            <td style='widtd:10%'>Last Name</td>            
            <td style='widtd:10%'>Nationality</td>            
            <td style='widtd:10%'>Rules Broken</td>            
		</tr>
      {{#each users}}  
      <tr>
            <td><a href="http://localhost:3000/wallet_id?id={{wallet_id}}" target="_blank">{{wallet_id}} </a>  </td>
            <td> {{first_name}} {{middle_name}}</td>            
            <td> {{last_name}}</td>            
            <td> {{name}}</td>            
            <td> {{rules}}</td>            			
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>
<script>
$(document).ready(function() {

  function exportTableToCSV($table, filename) {

    var $rows = $table.find('tr:has(td)'),

      // Temporary delimiter characters unlikely to be typed by keyboard
      // This is to avoid accidentally splitting the actual contents
      tmpColDelim = String.fromCharCode(11), // vertical tab character
      tmpRowDelim = String.fromCharCode(0), // null character

      // actual delimiter characters for CSV format
      colDelim = '","',
      rowDelim = '"\r\n"',

      // Grab text from table into CSV formatted string
      csv = '"' + $rows.map(function(i, row) {
        var $row = $(row),
          $cols = $row.find('td');

        return $cols.map(function(j, col) {
          var $col = $(col),
            text = $col.text();

          return text.replace(/"/g, '""'); // escape double quotes

        }).get().join(tmpColDelim);

      }).get().join(tmpRowDelim)
      .split(tmpRowDelim).join(rowDelim)
      .split(tmpColDelim).join(colDelim) + '"';

    // Deliberate 'false', see comment below
    if (false && window.navigator.msSaveBlob) {

      var blob = new Blob([decodeURIComponent(csv)], {
        type: 'text/csv;charset=utf8'
      });

      // Crashes in IE 10, IE 11 and Microsoft Edge
      // See MS Edge Issue #10396033
      // Hence, the deliberate 'false'
      // This is here just for completeness
      // Remove the 'false' at your own risk
      window.navigator.msSaveBlob(blob, filename);

    } else if (window.Blob && window.URL) {
      // HTML5 Blob        
      var blob = new Blob([csv], {
        type: 'text/csv;charset=utf-8'
      });
      var csvUrl = URL.createObjectURL(blob);

      $(this)
        .attr({
          'download': filename,
          'href': csvUrl
        });
    } else {
      // Data URI
      var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

      $(this)
        .attr({
          'download': filename,
          'href': csvData,
          'target': '_blank'
        });
    }
  }

  // This must be a hyperlink
  $(".export").on('click', function(event) {
    // CSV
    var args = [$('#dvData>table'), 'rules_broken_by_customer.csv'];

    exportTableToCSV.apply(this, args);

    // If CSV, don't do event.preventDefault() or return false
    // We actually need this to be a typical hyperlink
  });
});
</script>